@font-face {
    font-family: 'Raleway-Light';
    src: url('../../assets/fonts/Raleway-Light.ttf') format('truetype');
}
html {
	font-size: 12px;
	font-family: 'Raleway-Light', sans-serif;
	padding: 0;
	margin: 0;
}
body {
	background: #f7f9fb;
	padding: 0;
	margin: 0;
}
h2, p {
	margin: 0;
	padding: 0;
}
.wrapper {
	min-width: 900px;
	display: flex;
	flex-flow: row;
	width: 100%;
	max-height: 522px;
	min-height: 100vh;
}
.canvas-wrapper {
	border-right: 1px solid #000;
	width: 100%;
	overflow: auto;
	background: #fff;
}
canvas {
	margin: 0 auto;
	display: block;
}
.control-wrapper {
	display: flex;
	flex-flow: column;
	background-color: #fafafa;
	flex-grow: 1;
}
@media (min-width: 1200px){
	.control-wrapper {
		max-height: 1200px;
		min-width: 600px;
	}
}
.control-wrapper h2 {
	padding: 10px 20px;
	border-bottom: 1px solid #ddd;
}
.control-wrapper #inputs-wrapper {
	flex-grow: 1;
	padding: 10px 20px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.input-group {
	margin-top: 5px;
	display: flex;
	align-items: center;
}
.input-group:last-child {
	margin-bottom: 10px;
}
.input-group label {
	width: 130px;
	text-align: right;
	margin-right: 10px;
}
.input-group input {
	flex-grow: 1;
}
.buttons-wrapper {
	margin-top: 0;
	border-top: 1px solid #ddd;
	padding: 10px 20px;
}
.button-group button {
	width: 100px;
	margin-right: 5px;
}
.button-group button:last-child {
	margin-right: 0;
}