@font-face {
    font-family: 'Raleway-Light';
    src: url('./fonts/Raleway-Light.ttf') format('truetype');
}
html {
	font-size: 14px;
	font-family: 'Raleway-Light', sans-serif;
	padding: 0;
	margin: 0;
}
body {
	padding: 0;
	margin: 0;
	background-color: #f7f9fb;
}
.wrapper {
	display: block;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ddd;
	min-height: 300px;
}
@media (max-width: 767.98px){
	.wrapper {
		width: calc(100% - 40px);
		margin: 10px;
	}
}
@media (min-width: 768px){
	.wrapper {
		width: 500px;
		margin: 10px auto;
	}
}
a {
	text-decoration: none;
}
a:focus,
a:hover {
	text-decoration: underline;
}
h2 {
	margin: 0 0 10px;
}
p {
	margin: 0 0 5px;
}
ul {
	list-style: disclosure-closed;
	padding: 10px 0 0 15px;
	margin: 0;
	border-top: 1px solid #ddd;
}
ul > li {
	margin-bottom: 5px;
}