html {
	font-size: 14px;
}
body {
	padding: 0;
	margin: 0;
	font-family: Helvetica;
	background-color: #f7f9fb;
}

.wrapper {
	display: flex;
	flex-flow: column;
	margin: 0 auto;
	width: 500px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background-color: #eee;
}
.canvas-wrapper {
	flex-grow: 1;
	padding: 10px;
}
.canvas-wrapper canvas {
	width: 100%;
	display: block;
	border: 1px solid #000;
	background-color: #fff;
}

.btn-wrapper {
	border-top: 1px solid #ddd;
	background-color: #fafafa;
	padding: 10px;
}
.btn-wrapper button {
	min-height: 36px;
	min-width: 80px;
	margin-right: 5px;
}
.btn-wrapper button:last-child {
	margin-right: 0;
}

@media (max-width: 575.98px){
	.wrapper {
		margin: 0;
		width: 100%;
		border: none;
	}
	.canvas-wrapper canvas {
		min-height: 300px;
	}
	.btn-wrapper {
		text-align: center;
	}
	.btn-wrapper button {
		min-width: 50px;
	}
}